langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-google-genai
python-dotenv
tavily-python
beautifulsoup4
requests
lxml
html5lib
langchainhub
langgraph
aiohttp
httpx
pydantic
tiktoken
langsmith
pandas
numpy
orjson
tenacity
typer
rich
loguru
tqdm
faiss-cpu
chromadb
cloudpickle
typing_extensions
flask
flask-cors
gunicorn
